In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# load awards
awards = pd.read_csv("../data/uganda_22_awards.csv")

In [4]:
awards.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12629 entries, 0 to 12628
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             12629 non-null  int64
 1   ocid                   12629 non-null  object
 2   date                   12629 non-null  object
 3   tag                    12629 non-null  object
 4   awards_id              12629 non-null  int64
 5   awards_date            12629 non-null  object
 6   awards_v_amount        12629 non-null  float64
 7   awards_v_currency      12629 non-null  object
 8   awards_suppliers_id    12629 non-null  int64
 9   awards_suppliers_name  12629 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 986.8+ KB

In [5]:
# tidy up
awards.date = pd.to_datetime(awards.date)
awards.awards_date = pd.to_datetime(awards.awards_date)
awards.tag =awards.tag.astype("string")
awards.awards_v_currency = awards.awards_v_currency.astype("string")
awards.awards_suppliers_name = awards.awards_suppliers_name.astype("string")

In [6]:
# red flag is many awards to same supplier
awards.awards_suppliers_name.value_counts().head(10)
# TODO check against historical records

Toyota Uganda Limited                   85
Victoria motors limited                 71
Total Bulamu Service Station            63
Victoria motors ltd                     63
Governor Motel                          58
The Cooper Motor Corporation (U) Ltd    54
Katwaalo Motor Enterprise               51
Arrow centre uganda limited             49
Transpaper ltd                          47
Mogas uganda ltd                        46
Name: awards_suppliers_name, dtype: Int64

In [ ]:
# diff values?
# TODO

In [8]:
# plot eport time series award value over time
sns.set_theme(style="dark")

awards.award_year = awards.date.dt.year
awards.award_month = awards.datae.dt.month

g = sns.relplot(
    data = awards,
    x="month", y="awards_v_amount", col="year", hue="year",
    kind="line", palette="crest", linewidth=4, zorder=5,
    col_wrap=3, height=2, aspect=1.5
)

g.set_axis_labels("", "Award values")
g.tight_layout()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121